@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

/*===============
General Layout
Icons
Windows
Navbar
===============*/

/* Layout */
* {
  outline: none !important;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}

body {
  width: 110vw;
  height: 110vh;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  line-height: 14pt;
  margin: 0;
  padding: 0;
  background-image: url(https://media.giphy.com/media/XxHVJxuogNP32/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden !important;
  cursor: default !important;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  color: #000;
}

/* Icon Section */

body .bgchange {
  width: 110vw;
  height: 110vh;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  line-height: 14pt;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden !important;
  cursor: default !important;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  color: #000;
}
.icon-section {
  left: 10px;
  bottom: 10px;
  position: absolute;
}

.icon-section ul {
  display: flex;
  list-style: none;
  margin-left: 20px;
  padding: 10px;
  flex-wrap: wrap;
}

.icon-section ul li {
  width: 70px;
  height: 70px;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
/* General Icon Styling*/

/* Radio Icons */
.radioiconbutton {
  padding: 50px 50px 50px 50px;
  font-family: "Press Start 2P", cursive;
  border: none;
  background: transparent;
  background-image: url(assets/radioicon.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* MangOS (About) Icon */
.abouticonbutton {
  padding: 50px 50px 50px 50px;
  font-family: "Press Start 2P", cursive;
  border: none;
  background: transparent;
  background-image: url(assets/abouticon.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* Settings Icon */
.settingsiconbutton {
  padding: 50px 50px 50px 50px;
  font-family: "Press Start 2P", cursive;
  border: none;
  background: transparent;
  background-image: url(assets/settingsicon.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* Windows */
.dialog {
  display: none; /* not visible by default */
  color: #000;
  background: rgb(230, 177, 129);
  border: 1px solid #000; /* change allowed; Border to separate multipe dialog boxes */
  margin: 0;
  position: absolute;
  box-shadow: 5px 10px;
}

.dialog .titlebar {
  font-size: 14px;
  font-weight: 400;
  height: 32px; /* same as .dialog>button height */
  line-height: 32px; /* same as .dialog>button height */
  vertical-align: middle;
  padding: 0 8px 0 8px; /* change NOT allowed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: move;
}
.dialog .content {
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1px;
  position: absolute;
  text-align: center;
  top: 48px; /* change allowed */
  left: 16px; /* change NOT allowed */
  overflow: auto;
}

.dialog .content a {
  border: 1px solid #000;
  margin: auto;
  padding: 5px;
  background-color: #000;
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

.dialog .buttonpane:before {
  width: 100%;
  height: 0;
  border-bottom: 1px solid; /* change allowed */
  content: "";
  position: absolute;
  top: -16px; /* change allowed */
}
.dialog .buttonpane {
  width: 100%;
  position: absolute;
  bottom: 16px; /* change allowed */
  right: 16px; /* change NOT allowed */
  white-space: nowrap; /* keep buttons on one line */
}
.dialog .buttonset {
  float: right;
}
.dialog button {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: #fff;
}
.dialog button::-moz-focus-inner {
  border: 0;
}
/* .dialog button.hover, */ /* Let's use standard hover */
.dialog button:hover,
.dialog button.active {
  cursor: pointer;
}
.dialog > button {
  width: 32px; /* change NOT allowed */
  height: 32px; /* same as .dialog .titlebar height */
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: 0;
  font-size: 1.4em;
  background: #000;
}
/* .dialog>button.hover, */
.dialog > button:hover,
.dialog > button.focus {
  box-shadow: inset -16px 0 0 0 #e80, inset 16px 0 0 0 #e80;
}
.dialog > button.active {
  background: #f55; /* irrelevant */
  border: 1px solid #ddd; /* irrelevant */
}
.dialog .buttonset button {
  height: 32px; /* change allowed */
  width: 64px; /* change allowed */
  font-size: 1.1em;
  padding: 0; /* irrelevant */
  border: 2px solid #fff; /* change allowed */
  border-radius: 4px; /* change allowed */
  margin-left: 16px; /* change NOT allowed */
  background: #39c;
}
.dialog .buttonset button:first-child {
  margin-left: 0;
}
/* .dialog .buttonset button.hover, */
.dialog .buttonset button:hover,
.dialog .buttonset button.focus {
  box-shadow: inset -32px 0 0 0 #17a, inset 32px 0 0 0 #17a;
}
.dialog .buttonset button.active {
  background: #1a7;
  border-color: #ddd;
}

.dialog .buttonset a {
  border: 1px solid #000;
  margin: auto;
  padding: 5px;
  background-color: #000;
  color: #fff;
}
.mangif {
  width: 100%;
  height: 100%;
  max-width: 280px;
  max-height: 200px;
}
