@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

/*===============
General Layout
Icons
Windows
Navbar
===============*/

/* Layout */
* {
  outline: none !important;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  line-height: 14pt;
  margin: 0;
  padding: 0;
  background-image: url(https://media.giphy.com/media/XxHVJxuogNP32/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden !important;
  cursor: default !important;
  user-select: none; /* No touchy my text*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  color: #000;
}

body .bgchange {
  width: 110vw;
  height: 110vh;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  line-height: 14pt;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden !important;
  cursor: default !important;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  color: #000;
}

/* Icon Section */
.icon-section {
  left: 5px;
  bottom: 10px;
  position: absolute;
}

.icon-section ul {
  display: flex;
  list-style: none;
  margin-left: 5px;
  padding: 10px;
  flex-wrap: wrap;
}

.icon-section ul li {
  width: 70px;
  height: 70px;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Radio Icon */
.radioiconbutton {
  padding: 50px 50px 50px 50px;
  font-family: "Press Start 2P", cursive;
  border: none;
  background: transparent;
  background-image: url(/img/icons/radioicon.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* MangOS (About) Icon */
.abouticonbutton {
  padding: 50px 50px 50px 50px;
  font-family: "Press Start 2P", cursive;
  border: none;
  background: transparent;
  background-image: url(/img/icons/abouticon.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* Settings Icon */
.settingsiconbutton {
  padding: 50px 50px 50px 50px;
  font-family: "Press Start 2P", cursive;
  border: none;
  background: transparent;
  background-image: url(/img/icons/settingsicon.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* Focus Icon */
.pomoiconbutton {
  padding: 50px 50px 50px 50px;
  font-family: "Press Start 2P", cursive;
  border: none;
  background: transparent;
  background-image: url(/img/icons/focusicon.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* Donate Icon */
.donoiconbutton {
  padding: 50px 50px 50px 50px;
  font-family: "Press Start 2P", cursive;
  border: none;
  background: transparent;
  background-image: url(/img/icons/donateicon.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* Windows */
.dialog {
  display: none; /* not visible by default */
  color: #000;
  background: rgb(230, 177, 129);
  border: 1px solid #000; /* change allowed; Border to indicate separation */
  margin: 0;
  position: absolute;
  box-shadow: 5px 10px;
}
.dialog .titlebar {
  font-size: 14px;
  font-weight: 400;
  height: 32px; /* same as .dialog button height */
  line-height: 32px; /* same as .dialog button height */
  vertical-align: middle;
  padding: 0 8px 0 8px; /* change NOT allowed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: move;
}
.dialog .content {
  font-family: "Open-sans", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1px;
  position: absolute;
  text-align: center;
  top: 48px; /* change allowed */
  left: 16px; /* change NOT allowed */
  overflow: auto;
}
.dialog .content a {
  font-family: "Press Start 2P", cursive;
  border: 1px solid #000;
  margin: auto;
  padding: 5px;
  background-color: #000;
  color: #fff;
  display: block;
  margin-bottom: 7px;
}
.dialog .content a:active {
  transform: scale(0.85);
}
.dialog .content a:hover {
  transform: scale(0.95);
  color: #e80;
}
/* Title Bar Close Buttons Only */
/* Links Replace Buttons In Main Content Area */
.dialog button {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: #fff;
}
.dialog button::-moz-focus-inner {
  border: 0;
}
.dialog button {
  width: 32px; /* change NOT allowed */
  height: 32px; /* same as .dialog .titlebar height */
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: 0;
  font-size: 1.4em;
  background: #000;
}
/* .dialog button.hover active */
.dialog button:hover,
.dialog button.active {
  cursor: pointer;
}
/* .dialog button.hover focus */
.dialog button:hover,
.dialog button.focus {
  box-shadow: inset -16px 0 0 0 #e80, inset 16px 0 0 0 #e80;
}

/* MangOS Gif */
.mangif {
  width: 100%;
  height: 100%;
  max-width: 280px;
  max-height: 200px;
}
/* Radio Visualizer Gif */
.radgif {
  width: 100%;
  height: 100%;
  max-width: 280px;
  max-height: 50px;
}
/* Loader */
.loader {
  position: absolute;
  z-index: 99; /* Make Sure Top Layer */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader img {
  width: 200px; /* Fits Mobile */
}
.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Other elements */
iframe {
  display: none; /* Hide Soundcloud iFrame */
}

#tracktitle {
  margin-bottom: 7px;
  padding: 15px;
  border: 3px solid #000;
}
